<div class="modal fade" id="continueModal" tabindex="-1" role="dialog" aria-labelledby="continuemodal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            
            <div class="modal-header">
              <h4 class="modal-title" id="continueModal">Thank You for telling us about yourself!</h4>
              <h5 class="modal-title" id="continueModal">Time for you to explore TVSensei!</h5>
            </div>

            <div class="modal-footer">
              <button type="button" onclick="closeContinueModal()" class="btn btn-dark">Continue</button>
            </div>

          </div>
        </div>
      </div>