<!-- APIs -->
<!-- <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6j0fk3Dz0p5OSfPUYkp6E5Ll8xvL8T4g&callback=initMap"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!--  -->

<!-- JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script src='https://vjs.zencdn.net/7.6.0/video.js'></script>
<script src="/js/videojs-replay.min.js"></script>
<!--  -->

<!-- Bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/videojs-seek-buttons/dist/videojs-seek-buttons.min.js"></script>
<script src="https://cdn.sc.gl/videojs-hotkeys/0.2/videojs.hotkeys.min.js"></script>
<!--  -->

<!-- Local JavaScript -->
<script src="/js/index.js"></script>
<script src="/js/signup.js"></script>
<script src="/js/video_player.js"></script>
<!--  -->

<!-- Manual Script -->
<!-- <script>
    // Initialize and add the map
    function initMap() {
        // The location of Uluru
        var uluru = {
            lat: 40.6782,
            lng: 73.9442
        };
        // The map, centered at Uluru
        var map = new google.maps.Map(
            document.getElementById('map'), {
                zoom: 4,
                center: uluru
            });
        // The marker, positioned at Uluru
        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });
    }
</script> -->

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

    window.onscroll = function () {
        scrollFunction();
    };

    function scrollFunction() {
        if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
            document.getElementById("navbar").style.padding = "1rem 1rem";
            document.getElementById("navbar").style.backgroundColor = "#001531";
            document.getElementById("navbar").style.opacity = "0.7";
            $("#lesson").removeClass("mt-1");
            $("#exercise-header").css("background", "#f0f0f0");
            $("#exercise-header").css("border-radius", "0");
            $("#exercise-header button").css("color", "#000a17");
        } else {
            document.getElementById("navbar").style.padding = ".5rem 1rem";
            document.getElementById("navbar").style.backgroundColor = "#000a17";
            document.getElementById("navbar").style.opacity = "1";
            $("#lesson").addClass("mt-1");
            $("#exercise-header").css("background", "#000a17");
            $("#exercise-header").css("border-radius", "5px 5px 0 0");
            $("#exercise-header button").css("color", "#f0f0f0");
        }
    }
</script>
<!--  -->


</body>

</html>