<link rel="stylesheet" type="text/css" href="/stylesheets/signup.css">
<div class="modal fade" id="goalsModal" tabindex="-1" role="dialog" aria-labelledby="goalsModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header text">
              <h5 class="modal-title" id="goalsModal">Describe Your Goals for TVSensei:</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="modal-body">
                <form id="goalsform" onsubmit="closeGoalsModal()">
                <textarea id="goalstext" rows="10" cols="50" required></textarea>
                </form>
            </div>

            <div class="modal-footer">
              <button type="submit" form="goalsform" class="btn btn-dark">Save changes</button>
            </div>
          </div>
        </div>
      </div>
