<div class="d-flex justify-content-between mx-1 mb-4">
    <small onclick="checkout('speaking')">← <span id="exercise-back">speaking</span></small>
    <small onclick="checkout('quiz')"><span id="exercise-next">quiz</span> →</small>
</div>
<p>In Japanese, there are 3 ways of writing: <strong>hiragana</strong> (ひらがな), <strong>katakana</strong> 
(カタカナ), and <strong>kanji</strong> (漢字). We will discuss katakana and kanji later.</p>
<div class="card bg-primary text-white">
<div class="card-header">Hiragana Card-1</div>
<div class="card-body">
<p>Anything can be written in hiragana, simple strokes that indicate a <strong>consonant</strong>-<strong>vowel</strong> combination.
<br>
"I/ME" = "Wa-Ta-Shi" = 「わ」wa 「た」ta 「し」shi = わたし 
<br>
"Name" = "Na-Ma-e" = 「な」wa 「ま」ta 「え」shi = なまえ
</div>
<div class="card-footer">
<button type="button" class="btn btn-md btn-outline-warning">Save</button>
</div>
</div>
<br>
<p>Complete the pratices below.</p>
<br>

<div class="card bg-secondary text-white">
<div class="card-header text-warning">Hiragana Exercise-1</div>
<div class="card-body">
<p class="text-warning">Fill in the blank</p>
	<br>
	<table class="table">
		<thead>
			<tr>
				<th>Hiragana</th>
				<th>Romaji</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>わたし</td>
				<td>watashi</td>
			</tr>
			<tr>
				<td>なまえ</td>
				<td><div class="col-3"><input type="text" class="form-control" id="answer1"></div></td>
			</tr>
			<tr>
				<td>摩天楼オペラ商品多勢平</td>
				<td><div class="col-3"><input type="text" class="form-control" id="answer2"></div></td>
			</tr>
			<tr>
				<td><div class="col-3"><input type="text" class="form-control" id="answer3"></div></td>
				<td>watashiwasenseidesu</td>
			</tr>	
		</tbody>
	</table>
</div>
<div class="card-footer">
	<button type="button" class="btn btn-lg btn-block btn-warning">Check</button>
</div>
</div>

<br>

<div class="card bg-secondary text-white">
<div class="card-header text-warning">Hiragana Exercise-2</div>
<div class="card-body">
	<p class="text-warning">Multiple Choice</p>
	<h3><strong>TV-Sensei?</strong></h3>
	<br>
	<fieldset>
		<div class="custom-control custom-radio custom-control-inline">
			<input type="radio" class="custom-control-input" name="multi_test1" id="multi_test1a" multi_value="no">
			<label class="custom-control-label" name="multi_label1" for="multi_test1a"> &nbsp A) TV-SENSEI &nbsp</label>
		</div>
		<div class="custom-control custom-radio custom-control-inline">
			<input type="radio" class="custom-control-input" name="multi_test1" id="multi_test1b" multi_value="no">
			<label class="custom-control-label" name="multi_label1" for="multi_test1b"> &nbsp B) tV-sensei &nbsp </label>
		</div>
		<div class="custom-control custom-radio custom-control-inline">
			<input type="radio" class="custom-control-input" name="multi_test1" id="multi_test1c" multi_value="no">
			<label class="custom-control-label" name="multi_label1" for="multi_test1c"> &nbsp C) tvsensei &nbsp </label>
		</div>
		<div class="custom-control custom-radio custom-control-inline">
			<input type="radio" class="custom-control-input" name="multi_test1" id="multi_test1d" multi_value="yes">
			<label class="custom-control-label" name="multi_label1" for="multi_test1d"> &nbsp D) TV-Sensei &nbsp </label>
		</div>
	</fieldset>
</div>
<div class="card-footer">
	<button type="button" class="btn btn-block btn-lg btn-warning" name="multi_button1" onclick="multi_test_check('multi_test1','multi_label1','multi_button1')">Check</button>
</div>
</div>

<br>
<div class="card bg-secondary text-white">
<div class="card-header text-warning">Hiragana Exercise-3</div>
<div class="card-body">
	<p class="text-warning">Multiple Choice</p>
	<h3><strong>pi</strong></h3>
	<br>
	<fieldset>
		<div class="custom-control custom-radio custom-control-inline">
			<input type="radio" class="custom-control-input" name="multi_test2" id="multi_test2a" multi_value="yes">
			<label class="custom-control-label" name="multi_label2" for="multi_test2a"> &nbsp A) ぴ  &nbsp </label>
		</div>
		<div class="custom-control custom-radio custom-control-inline">
			<input type="radio" class="custom-control-input" name="multi_test2" id="multi_test2b" multi_value="no">
			<label class="custom-control-label" name="multi_label2" for="multi_test2b"> &nbsp B)　と &nbsp </label>
		</div>
		<div class="custom-control custom-radio custom-control-inline">
			<input type="radio" class="custom-control-input" name="multi_test2" id="multi_test2c" multi_value="no">
			<label class="custom-control-label" name="multi_label2" for="multi_test2c"> &nbsp C) 日本語 &nbsp </label>
		</div>
		<div class="custom-control custom-radio custom-control-inline">
			<input type="radio" class="custom-control-input" name="multi_test2" id="multi_test2d" multi_value="no">
			<label class="custom-control-label" name="multi_label2" for="multi_test2d"> &nbsp D) 千年は千歳船橋栃木県千歳船橋 &nbsp </label>
		</div>
	</fieldset>
</div>
<div class="card-footer">
	<button type="button" class="btn btn-block btn-lg btn-warning" name="multi_button2" onclick="multi_test_check('multi_test2','multi_label2','multi_button2')">Check</button>
</div>
</div>

<br>

<div class="card bg-secondary text-white">
<div class="card-header text-warning">Hiragana Exercise-4</div>
<div class="card-body">
	<p class="text-warning">Multiple Choice</p>
	<h3><strong>shifunonihanamagochisu</strong></h3>
	<br>
	<fieldset>
		<div class="custom-control custom-radio custom-control-inline">
			<input type="radio" class="custom-control-input" name="multi_test3" id="multi_test3a" multi_value="no">
			<label class="custom-control-label" name="multi_label3" for="multi_test3a"> &nbsp A) 詩賦のに花向後千須 &nbsp </label>
		</div>
		<div class="custom-control custom-radio custom-control-inline">
			<input type="radio" class="custom-control-input" name="multi_test3" id="multi_test3b" multi_value="no">
			<label class="custom-control-label" name="multi_label3" for="multi_test3b"> &nbsp B) 詩賦のに花マゴチ氏 &nbsp </label>
		</div>
		<div class="custom-control custom-radio custom-control-inline">
			<input type="radio" class="custom-control-input" name="multi_test3" id="multi_test3c" multi_value="no">
			<label class="custom-control-label" name="multi_label3" for="multi_test3c"> &nbsp C) 詩賦のに俳味越し巣 &nbsp </label>
		</div>
		<div class="custom-control custom-radio custom-control-inline">
			<input type="radio" class="custom-control-input" name="multi_test3" id="multi_test3d" multi_value="no">
			<label class="custom-control-label" name="multi_label3" for="multi_test3d"> &nbsp D) 詩賦のに花間口巣 &nbsp </label>
		</div>
		<div class="custom-control custom-radio custom-control-inline">
			<input type="radio" class="custom-control-input" name="multi_test3" id="multi_test3e" multi_value="no">
			<label class="custom-control-label" name="multi_label3" for="multi_test3e"> &nbsp E) 詩賦七華顎千須 &nbsp </label>
		</div>
		<div class="custom-control custom-radio custom-control-inline">
			<input type="radio" class="custom-control-input" name="multi_test3" id="multi_test3f" multi_value="no">
			<label class="custom-control-label" name="multi_label3" for="multi_test3f"> &nbsp F) 詩賦のに花見自治巣 &nbsp </label>
		</div>
		<div class="custom-control custom-radio custom-control-inline">
			<input type="radio" class="custom-control-input" name="multi_test3" id="multi_test3g" multi_value="yes">
			<label class="custom-control-label" name="multi_label3" for="multi_test3g"> &nbsp G)	詩賦のに花マゴチ巣 &nbsp </label>
		</div>
		<div class="custom-control custom-radio custom-control-inline">
			<input type="radio" class="custom-control-input" name="multi_test3" id="multi_test3h" multi_value="no">
			<label class="custom-control-label" name="multi_label3" for="multi_test3h"> &nbsp H)　詩賦の塗花マゴチ巣 &nbsp </label>
		</div>
		<div class="custom-control custom-radio custom-control-inline">
			<input type="radio" class="custom-control-input" name="multi_test3" id="multi_test3i" multi_value="no">
			<label class="custom-control-label" name="multi_label3" for="multi_test3i"> &nbsp I) 致富のに花マゴチ巣 &nbsp </label>
		</div>
	</fieldset>
</div>
<div class="card-footer">
	<button type="button" class="btn btn-block btn-lg btn-warning" name="multi_button3" onclick="multi_test_check('multi_test3','multi_label3','multi_button3')">Check</button>
</div>
</div>
