<!DOCTYPE html>
<!--CEO: Henry Aberle 
    Lead Programmer January - June 2019: Peter Aguiar 
    Continued Development by: Nikita Lilichenko, Kefan Yang
    (September 2019)-->

<html lang="en">

<head>
	<title>TVSensei</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="">
	<meta name="author" content="tvsensei co.">

	<!-- BootStrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!--  -->


	<!-- Other Stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light|Yanone+Kaffeesatz:400,700&display=swap"
		rel="stylesheet">
	<link href="https://vjs.zencdn.net/7.6.0/video-js.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/videojs-seek-buttons/dist/videojs-seek-buttons.css" rel="stylesheet">
	<!--  -->


	<!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
	<script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
	<!--  -->


	<!-- JavaScript-->
	<script src="/js/video_player.js"></script>
	<script>
		function play() {
			var audio = document.getElementById("audio");
			audio.play();
		}
	</script>
	<script src="https://kit.fontawesome.com/4912714a0b.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
	</script>
	<!--  -->

</head>

<body>

	<!-- Top main nav bar-->

	<nav class="navbar navbar-expand-sm" id="navbar">

		<div class="navbar-header">
			<a class="navbar-brand" id="title" href="/">TVSensei</a>
		</div>
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="/">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/lesson">Lessons</a>
			</li>
		</ul>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link" href="/signup" data-toggle="tooltip" title="Sign up"><i
						class="fas fa-user-plus"></i></a>
			</li>
			<li class="nav-item">
				<span class="nav-link" data-toggle="tooltip" title="Log in"><i data-toggle="modal"
						data-target="#loginModal" class="fas fa-sign-in-alt"></i></span></li>
			<li class="nav-item">
				<a class="nav-link" href="#" data-toggle="tooltip" title="Log out"><i
						class="fas fa-sign-out-alt"></i></a></li>
			<li class="nav-item">
				<a class="nav-link" href="#" data-toggle="tooltip" title="User"><i class="fas fa-user"></i></a></li>
		</ul>
	</nav>
	<% include loginmodal %>

	<!-- end of top main navbar-->