<div class="modal fade" id="quiz1" tabindex="-1" role="dialog" aria-labbeledby="quiz1" aria-hidden="true">
	<div class="modal-dialog modal-xl">
		<div class="modal-content bg-dark">
			<div class="modal-header">
				<button type="button" class="close text-warning" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				<div class="card bg-info text-white">
					<div class="card-header">Question 1</div>
					<div class="card-body">
						<p><strong>TV-Sensei?</strong></p>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" class="custom-control-input" id="A" name="A">
							<label class="custom-control-label" for="A">TV-SENSEI</label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" class="custom-control-input" id="B" name="B">
							<label class="custom-control-label" for="B">tV-sensei</label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" class="custom-control-input" id="C" name="C">
							<label class="custom-control-label" for="C">tvsensei</label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" class="custom-control-input" id="D" name="D">
							<label class="custom-control-label" for="D">TV-Sensei</label>
						</div>
					</div>
				</div>
				<br>
				<div class="card bg-info text-white">
					<div class="card-header">Question 2</div>
					<div class="card-body">
						<p><strong>TV-Sensei?</strong></p>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" class="custom-control-input" id="A" name="A">
							<label class="custom-control-label" for="A">TV-SENSEI</label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" class="custom-control-input" id="B" name="B">
							<label class="custom-control-label" for="B">tV-sensei</label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" class="custom-control-input" id="C" name="C">
							<label class="custom-control-label" for="C">tvsensei</label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" class="custom-control-input" id="D" name="D">
							<label class="custom-control-label" for="D">TV-Sensei</label>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Submit</button>
			</div>
		</div>
	</div>
</div>