<div class="d-flex justify-content-between mx-1 mb-4">
    <small onclick="checkout('grammar')">← <span id="exercise-back">vacabulary</span></small>
    <small onclick="checkout('notes')"><span id="exercise-next">notes</span> →</small>
</div>
<p>Topic: Hiragana-1</p>
<p>Estimated Time: 10min.</p>
<p>Future functionality: Questions on quizes are computer randomized and restart if exited.</p> 
<button type="button" class="btn" data-toggle="modal" data-target="#quiz1" style="background: #00152e; color: white;"">
	Start Quiz
</button>
<div class="modal fade" id="quiz1">
	<div class="modal-dialog modal-xl">
		<div class="modal-content bg-dark">
			<div class="modal-header">
				<button type="button" class="close text-warning" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				<div class="card bg-info text-white">
					<div class="card-header">Question 1</div>
					<div class="card-body">
						<p><strong>TV-Sensei?</strong></p>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" class="custom-control-input" id="A" name="A">
							<label class="custom-control-label" for="A">TV-SENSEI</label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" class="custom-control-input" id="B" name="B">
							<label class="custom-control-label" for="B">tV-sensei</label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" class="custom-control-input" id="C" name="C">
							<label class="custom-control-label" for="C">tvsensei</label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" class="custom-control-input" id="D" name="D">
							<label class="custom-control-label" for="D">TV-Sensei</label>
						</div>
					</div>
				</div>
				<br>
				<div class="card bg-info text-white">
					<div class="card-header">Question 2</div>
					<div class="card-body">
						<p><strong>TV-Sensei?</strong></p>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" class="custom-control-input" id="A" name="A">
							<label class="custom-control-label" for="A">TV-SENSEI</label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" class="custom-control-input" id="B" name="B">
							<label class="custom-control-label" for="B">tV-sensei</label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" class="custom-control-input" id="C" name="C">
							<label class="custom-control-label" for="C">tvsensei</label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" class="custom-control-input" id="D" name="D">
							<label class="custom-control-label" for="D">TV-Sensei</label>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Submit</button>
			</div>
		</div>
	</div>
</div>