<div class="container-fluid">
    <h3>Speaking</h3> 
    <hr class="style-two">
    <!-- for scrollIntoView-->
    <button onclick="jumpVideoTime(68);" class="btn btn-link text-dark speak-task" type="button" id="vidLine1"> <!--Jumps to timecode Henry specified onclick-->
    “ここのおみせの一押しの商品ってどれですか？”
    </button>
    <br>
    <button onclick="jumpVideoTime(77);" class="btn btn-link text-dark speak-task" type="button" id="vidLine2">
    “キラキラして、死んださかなだと思えないですね  [...] 新しいさかなを干物にしておりますので、焼き上がりがまったく違いますね。”
    </button>
    <br>
    <button onclick="jumpVideoTime(91);" class="btn btn-link text-dark speak-task" type="button" id="vidLine3">
    “アジの開きのだけにあじが出る。いや、お母さんやりますよね。”
    </button>
    <br>
    <button onclick="jumpVideoTime(138);" class="btn btn-link text-dark speak-task" type="button" id="vidLine4">
    “こちらの人気メニュー、湾岸セット。えび、いか、あなご、野菜もり。ごちそうさまです。”
    </button>
    <br>
    <button onclick="jumpVideoTime(165);" class="btn btn-link text-dark speak-task" type="button" id="vidLine5">
    “今日、おすすめのさかなありますか？今日はちょっともうなくなってるんですけど。”
    </button>
</div>