<link rel="stylesheet" type="text/css" href="/stylesheets/signup.css">
<div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModalTitle"
    aria-hidden="true" style="overflow: scroll">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header profile">
                <h3 class="modal-title profile text-center" id="profileModalTitle">Welcome to the TVSensei Family
                    <%= currentUser.firstname %>!</h3>
                <h5 class="modal-title profile text-center">We know that first introductions can be awkward and frankly
                    just
                    boring, so let's try something fun!</h5>
                <h5 class="modal-title profile text-center">Ever play Mad Libs?</h5>
            </div>
            <div class="modal-body">

                <form id="madlibs" method="POST" action="/profile/<%= currentUser.profile._id %>?_method=PUT">
                    <span class="form-sentence form-group">
                        <h5 class="bodytext">
                            Hi TVSensei! My name is <%= currentUser.firstname %> <%= currentUser.lastname %> and I use
                        </h5 class="bodytext">
                        <select name="profile[pronouns]" id="pronouns" required>
                            <option value="">---</option>
                            <option value="he">He/Him/His</option>
                            <option value="she">She/Her/Hers</option>
                            <option value="they">They/them/theirs</option>
                        </select>
                        <h5 class="bodytext">
                            pronouns.
                        </h5>
                    </span>


                    <span class="form-sentence form-group">
                        <h5 class="bodytext">
                            I am originally from
                        </h5>
                        <% include ./countries %>
                        <h5 class="bodytext">
                            and I would say that my native languages are
                        </h5>
                    </span>

                    <span class="form-sentence form-group">
                        <input id="language" name="profile[native_language]" type="text"
                            class="form-control form-sentence" placeholder="Ex. English/Spanish/Catalan" required>
                        <h5 class="bodytext">
                            . Personally, I believe that I have a(n)
                        </h5>
                    </span>

                    <span class="form-sentence form-group">
                        <select name="profile[language_level]" id="english" required>
                            <option value="">---</option>
                            <option value="Beginner">Beginner</option>
                            <option value="Between Beginner and Intermediate">Between Beginner and Intermediate</option>
                            <option value="Intermediate">Intermediate</option>
                            <option value="Between Intermediate and Advanced">Between Intermediate and Advanced</option>
                            <option value="Advanced">Advanced</option>
                            <option value="Fluent">Fluent</option>
                        </select>
                        <h5 class="bodytext">
                            grasp of the English language.
                        </h5>
                    </span>

                    <span class="form-sentence form-group">
                        <h5 class="bodytext">
                            To elaborate, my experience with the English language, in reference to speaking, reading,
                            writing, and studying involves:
                        </h5>
                        <input type="text" name="profile[language_history]" id="englishdescription"
                            onfocus="openEnglishbox()" class="form-control form-sentence" value="" required>
                    </span>

                    <span class="form-sentence form-group">
                        <h5 class="bodytext">
                            . I am a super motivated individual who aspires to learn a new language quickly and
                            efficiently.
                            Some of these language learning goals that I have with TVSensei include:
                        </h5>
                        <input type="text" name="profile[goal]" id="goalsdescription" onfocus="openGoalsbox()"
                            class="form-control form-sentence" value="" required>
                    </span>

                    <span class="form-sentence form-group">
                        <h5 class="bodytext">
                            . Some of my favorite TV genres include:
                        </h5>
                        <input id="genre" name="profile[favorite_genre]" type="text" class="form-control form-sentence"
                            placeholder="Ex. Drama, Reality, Documentary" required>

                    </span>

                    <span>
                        <h5 class="bodytext">
                            . I am super excited to join this community of learning, and I can't wait to get started!!
                        </h5>
                    </span>

            </div>
            <div class="modal-footer form-group">
                <button type="button" class="btn" data-dismiss="modal" data-toggle="tooltip"
                    title="You can update your profile later in your account settings">Skip this Step</button>
                <input type="submit" class="btn btn-dark" value="Save changes">
            </div>
            </form>


        </div>
    </div>
</div>




<!-- Preferred pronouns
Profile picture
Nationality and native language(s)
Past learning experience with English
Goals for using TVSensei
Favorite TV genres
Ending up with something like:
Hi! My name is [NAME]. I go by [PREFERRED PRONOUNS]. I’m from [COUNTRY OF ORIGIN] and grew up speaking [NATIVE LANGUAGE(S)].
In the past I studied English [PAST EXPERIENCE(S)].
Using TVSensei, I aim to [GOALS FOR USING TVSENSEI].
My favorite TV shows tend to be [FAVORITE TV GENRES]. -->