<script src="/js/main.js"></script>

<br>
<table id="vocabTable" class="table table-striped table-hover text-white effect1" style="font-size: 12px; border-radius: 5px;" cellspacing="0">
	<thead>
		<tr>
			<th>Hiragana</th>
			<th>Romaji</th>
			<th>Definition</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>&nbsp; &nbsp; &nbsp;あじ</td>
			<td>a-ji</td>
			<td>Taste/flavor; horse mackerel</td>
		</tr>
		<tr>
			<td>
				&nbsp; &nbsp; &nbsp;みせ 				
				<span onclick="play()">
					<i class="fas fa-volume-up" data-toggle="tooltip" title="Play Sound">
					</i>
				</span>
				<audio id="audio" src="HarrisLilliburleroShort.mp3" ></audio>
			</td>
			<td>o-su-su-me</td>
			<td>Recommendation</td>
		</tr>
		<tr>
			<td>
				 &nbsp; &nbsp; &nbsp;メニュー
				
			</td>
			<td>me-nyu-u</td>
			<td>Menu item; menu</td>
		</tr>
		<tr>
			<td>
				 &nbsp; &nbsp; &nbsp;みせ
			</td>
			<td>mi-se</td>
			<td>Store; restaurant</td>
		</tr>
		<tr>
			<td>
				 &nbsp; &nbsp; &nbsp;さかな
			</td>
			<td>sa-ka-na</td>
			<td>Fish</td>
		</tr>
	</tbody>

</table>

<form name="vForm">
	<h5>Add Vocabulary Word Below:</h5>
	<hr class="style-two">
	<div class="row">
		<div class="col">
			<input type="text" id="def1" class="form-control" name="Hiragana" placeholder="Hiragana" required>
		</div>
		<div class="col">
			<input type="text" id="def2" class="form-control" name="Romaji" placeholder="Romaji" required>
		</div>
		<div class="col-6">
			<input type="text" id="def3" class="form-control" name="Definition" placeholder="Definition" required>
		</div>
	</div>
	<div class="pt-2" style="text-align: center">
		<input type="button" class="btn btn-dark" onclick="addRow();" value="Submit" style="align-content: center">
	</div>
	<p id="errormsg" style="color: red; text-align: center"></p>
</form>



<script>
	// When the user clicks on <div>, open the popup
	function myFunction() {
	  var popup = document.getElementById("myPopup");
	  popup.classList.toggle("show");
	}
</script>
