<br>
<h3>VOCAB</h3>
<hr class="style-two">
<table class="table table-striped table-hover table-dark text-white" style="font-size: 12px">
	<thead>
		<tr>
			<th>Hiragana</th>
			<th>Romaji</th>
			<th>Definition</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="popup" onclick="myFunction()">&nbsp; &nbsp; &nbsp;あじ
				<span class="popuptext" id="myPopup">TestTest</span>
			</td>
			<td>a-ji</td>
			<td>Taste/flavor; horse mackerel</td>
		</tr>
		<tr>
			<td>
				&nbsp; &nbsp; &nbsp;みせ 				
				<span onclick="play()">
					<i class="fas fa-volume-up" data-toggle="tooltip" title="Play Sound">
					</i>
				</span>
				<audio id="audio" src="HarrisLilliburleroShort.mp3" ></audio>
			</td>
			<td>o-su-su-me</td>
			<td>Recommendation</td>
		</tr>
		<tr>
			<td>
				 &nbsp; &nbsp; &nbsp;メニュー
				
			</td>
			<td>me-nyu-u</td>
			<td>Menu item; menu</td>
		</tr>
		<tr>
			<td>
				 &nbsp; &nbsp; &nbsp;みせ
			</td>
			<td>mi-se</td>
			<td>Store; restaurant</td>
		</tr>
		<tr>
			<td>
				 &nbsp; &nbsp; &nbsp;さかな
			</td>
			<td>sa-ka-na</td>
			<td>Fish</td>
		</tr>
	</tbody>

</table>

<script>
	// When the user clicks on <div>, open the popup
	function myFunction() {
	  var popup = document.getElementById("myPopup");
	  popup.classList.toggle("show");
	}
</script>
