<% include ./partials/header %>
<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
<div class="cover"></div>
<video class="background" autoplay="autoplay" loop="loop" muted="muted">
  <source src="/media/Slow Motion Video Of People.mp4" type="video/mp4">
</video>
<section id="landing-header">
  <h1>Welcome to TVSensei!</h1>
  <ul>
    <li id="slogan-en">Language learning, now entertaining</li>
    <li id="slogan-jp">言語学習、今面白い</li>
    <li id="slogan-zh">语言学习，现在变得有趣</li>
    <li id="slogan-pg">Aprendizado de idiomas, agora divertido</li>
    <li id="slogan-es">Aprendizaje de idiomas, ahora entretenido</li>
  </ul>
  <% if (currentUser) { %>
  <a class="mb-3" id="btn" href="lesson">Try a Demo!</a>
  <% } else { %>
  <!-- Button trigger modal -->
  <button id="smallbtn" type="button" data-toggle="modal" data-target="#loginModal">Log In</button>


  <p></p>
  <a href="/signup" style="color: white;">Don't have an account? Sign up here!</a>
  <% } %>
</section>


<section class="content">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <h3 class="pb-2">Learn language in a New Way</h3>
        <p></p>Hi! We’re TVSensei (<em>tee-vee-sen-say-ee</em>).</p>
        <p>We’re out to <strong>revolutionize</strong> language learning as we know it!</p>
        <p>TVSensei teaches users to speak foreign languages in the context seen on screen—engaging learners with
          popular TV shows as both audience and actor using <strong>lessons designed by us</strong>.</p>
        <p>Scroll down to learn about our mission and our product. And if you're interested, <a href="#">Sign up</a> to
          see our wonderful contents!</p>
      </div>
      <!-- ROOM FOR IMAGE -->
      <div class="col-1"></div>
      <div class="col-3">
        <img class="sectionPic logo"
          src="/media/cropped-TVSenseilogo.png"
          alt="logo">
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-5">
        <img class="sectionPic" src="/media/brain.jpg">
      </div>
      <div class="col-7 float-right">
        <h3 class="pb-2">OUR RAISON D’ÊTRE (WHY WE EXIST)</h3>
        <p>Right now we have two main options for learning a language:</p>
        <p>1. Take a class</p>
        <p></p>
        <p>2. Use a program like Rosetta Stone, Duolingo, or Babbel</p>
        <p>Option 1 works… if you have the time and money. You’ll interact with your teacher and other students in the
          target language and build your fluency.</p>
        <p>Option 2 works… if you’re diligent and consistently practice for 10 minutes or more a day until the end of
          time. </p>
        <p>The reality is that like most new tech, “gamified” learning is only fun while it’s new. Once you’ve done your
          hundredth round of “tap the words to create the sentence,” the game has lost its charm.</p>
        <p>What is missing from both options is this: real world content that’s both <strong>entertaining</strong> and
          <strong>educational</strong> that will drive you to engage with the target language every day. And we’re
          talking about a big one: foreign television. </p>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-9 px-5">
        <h3 class="pb-2">The Future of Foreign Language Learning</h3>
        <p>TVSensei’s mission is to create a new means of learning a language in the most natural way.</p>
        <p>We consider what users are already doing in their daily lives to come up with new routines that don’t feel
          like more work. We’ve also considered what brings people together and come to understand that while language
          skills are important, a shared cultural lexicon is what matters. We feel that learning with TV fulfills both.
        </p>
        <p>Some people look down on TV and label it as “braindead.” But at TVSensei we see TV as <em>creative</em>,
          <em>inspiring</em>, and <em>engaging</em>.</p>
        <p>We also see TV as being “in the world”–representing people across the globe.</p>
        <p>Watching foreign language TV comes second in engagement with the target culture only to picking up and moving
          to the language’s country of origin. </p>
        <p>And even after you’ve moved, if you don’t watch TV, you’re not engaging in the target language’s popular
          culture—arguably worse for communication than not speaking the language.</p>
      </div>
      <div class="col-3">
        <img class="sectionPic"
          src="https://images.unsplash.com/photo-1548973793-fb4376aa1a57?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80">
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-4" id="solution">
        <img
          src="https://images.unsplash.com/photo-1494809610410-160faaed4de0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"
          alt="" class="sectionPic">
      </div>
      <div class="col-8 float-right px-5">
        <h3 class="pb-2">Our Solution</h3>
        <p>At TVSensei, we create lessons that redefine the purpose of TV.</p>
        <p>Our users don’t simply sit back and enjoy the show, they: </p>
        <p>1. Do targeted listening and practice exercises with key vocabulary and phrases</p>
        <p></p>
        <p>2. Create, speak, and record dialogues as if they were the main character, and </p>
        <p></p>
        <p>3. Share in the target language about what they watched with watch buddies.</p>
        <p></p>
        <p>When you watch on TVSensei, you’re an active learner when it counts–completing exercises and more–and a
          passive learner when it doesn’t. We guide you in how you view, so watching TV can have relaxing and engaging
          moments–just like a well written show.</p>
      </div>
    </div>
  </div>
</section>

<section class="content contact">
  <div class="container">
    <h3>Contact Us</h3>
    <p>Need more information? Leave us a message!</p>
    <div class="row">
      <!-- <div class="col-6">
        <div id="map" style="width:100%; height: 500px; border-radius:5px; margin-top: 20px;"></div>
      </div> -->
      <div class="col-6">
        <form action="#">
          <div class="form-group">
            <label for="name">Full Name: <span style="color: red;">*</span></label>
            <input type="text" class="form-control mb-1" id="name" placeholder="First Last" require>
            <label for="email">Email Address: <span style="color: red;">*</span></label>
            <input type="email" class="form-control mb-1" id="email" placeholder="name@example.com" require>
            <label for="phone">Phone Number:</label>
            <input type="tel" class="form-control mb-1" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
              placeholder="Format: 123-456-7890">
            <label for="message">Message: <span style="color: red;">*</span></label>
            <textarea name="message" id="message" cols="30" rows="8" class="form-control"
              placeholder="TVSensei is awesome!!!"></textarea>
            <button class="btn my-2">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<footer class="d-flex justify-content-center align-items-center">
  <p>TVSensei. All rights reserved.</p>
  <ul>
    <!-- <li><a href="#"><i class="fab fa-twitter-square fa-2x"></i></a></li> -->
    <li><a href="https://www.facebook.com/learnwithtvsensei/"><i class="fab fa-facebook-square fa-2x"></i></a></li>
    <li><a href="https://www.linkedin.com/company/tvsensei?trk=companies_directory"><i
          class="fab fa-linkedin fa-2x"></i></a></li>
    <li><a href="https://www.instagram.com/tvsenseiofficial/?hl=en"><i class="fab fa-instagram fa-2x"></i></a></li>
  </ul>
</footer>
<% include ./partials/footer %>