<% include partials/header %>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
<!--  Body -->
<div class="container-fluid mt-1" id="lesson">
    <div class="row">
        <div class="col-md-8 col-12">
            <div class="row">
                <div class="col-12">
                    <div>
                        <video class="video-js vjs-big-play-centered effect1" id="currentVideo"
                            onloadstart="initializeVid([[68,72.5],[77,86],[91,97],[138,147],[165,170]]);"
                            style="margin-bottom: 5px;">
                            <source src="/media/video_Test.mp4" type="video/mp4" />
                            <track kink="captions" src="/assets/text_subtitle.vtt" srclang="en" label="English" default>
                        </video>
                    </div>
                    <nav class="navbar navbar-expand-sm mb-1" id="navbar" style="height: 5vh;">
                        <div class="navbar-header">
                            <a class="navbar-brand" id="title" href="#">りなぽんの散歩道</a>
                        </div>
                    </nav>
                    <div class="card effect1" style="width:100%;min-height:20vh;">
                        <div class="card-body text-center" id="subtitle">
                            <h2 name="subTestJapanese" class="videoText" id="jpsub">Lesson 1</h2>
                            <h3 name="subTestEnglish" class="videoText" id="ensub">Lesson 1</h3>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-4 col-12">
            <div id="accordion">
                <!-- Collapsable -->
                <!-- Contains the rest of the tvs-includes -->

                <div class="card effect1" id="exercise-card" style="position: fixed;">
                    <div class="card-header p-0" id="exercise-header">
                        <div id="exercises" class="dropdown nav nav-tabs">
                            <button class="btn dropdown-toggle" style="font-size: 20px; height: 6vh;" type="button"
                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                Instruction
                            </button>
                            <div class="dropdown-menu effect1" aria-labelledby="dropdownMenuButton" role="tablist"
                                id="dropdown-menu">
                                <a id="instruction-dropdown" class="dropdown-item nav-link active show"
                                    data-toggle="tab" href="#tab-instruction">instruction</a>
                                <a id="vocabulary-dropdown" class="dropdown-item nav-link" data-toggle="tab"
                                    href="#tab-vocabulary">vocabulary</a>
                                <a id="speaking-dropdown" class="dropdown-item nav-link" data-toggle="tab"
                                    href="#tab-speaking">speaking</a>
                                <a id="grammar-dropdown" class="dropdown-item nav-link" data-toggle="tab"
                                    href="#tab-grammar">grammar</a>
                                <a id="quiz-dropdown" class="dropdown-item nav-link" data-toggle="tab"
                                    href="#tab-quiz">quiz</a>
                                <a id="notes-dropdown" class="dropdown-item nav-link" data-toggle="tab"
                                    href="#tab-notes">notes</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0 m-0 overflow-auto" id="exercise-body" style="height: 84vh">
                        <div class="alert-success text-center message-hide py-2" id="loop-message">Video is looping. <a
                                href='#' id="unloop">Click Here</a> to undo</div>
                        <div class="tab-content" style="padding: 0;">
                            <div id="tab-instruction" class="tab-pane container text-dark active show text-center"><br>
                                <div class="d-flex justify-content-between mx-1">
                                    <small><span id="exercise-back"></span></small>
                                    <small onclick="checkout('vocabulary')"><span id="exercise-next">vocabulary</span>
                                        →</small>
                                </div>
                                <div class="container">
                                    <h3>Welcome to this lesson!</h3>
                                    <hr>
                                    <p>Bacon ipsum dolor amet doner ham shankle pig venison bresaola. Short ribs rump
                                        pork belly, ground round fatback chuck leberkas. Frankfurter swine chicken
                                        prosciutto bresaola pork chop fatback tri-tip. Pork loin beef ribs short ribs,
                                        pork chop cupim andouille alcatra chicken. Sirloin t-bone turkey strip steak
                                        kielbasa shoulder chuck. Shoulder hamburger bresaola ham, boudin meatloaf
                                        chicken t-bone filet mignon.</p>
                                    <ul>
                                        <li onclick="checkout('vocabulary')">Vocabulary</li>
                                        <li onclick="checkout('speaking')">Speaking</li>
                                        <li onclick="checkout('grammar')">Grammar</li>
                                        <li onclick="checkout('quiz')">Quiz</li>
                                        <li onclick="checkout('notes')">Notes</li>
                                    </ul>
                                    <p>Cow boudin pork turkey. Shank biltong bacon t-bone. Landjaeger bacon tenderloin,
                                        frankfurter hamburger ham hock buffalo beef salami pig meatball leberkas brisket
                                        capicola prosciutto. Pork belly shankle kevin doner.</p>
                                </div>
                            </div>
                            <div id="tab-vocabulary" class="tab-pane container text-dark fade">
                                <% include tests/vocab_test %>
                            </div>
                            <div id="tab-speaking" class="tab-pane container text-dark fade"><br>
                                <% include tests/speaking_test %>
                            </div>
                            <div id="tab-grammar" class="tab-pane container text-dark fade"><br>
                                <% include tests/grammar_test %>
                            </div>
                            <div id="tab-quiz" class="tab-pane container text-dark fade"><br>
                                <% include tests/quiz_test %>
                            </div>
                            <div id="tab-notes" class="tab-pane container text-dark fade"><br>
                                <div class="d-flex justify-content-between mx-1 mb-4">
                                    <small onclick="checkout('quiz')">← <span id="exercise-back">quiz</span></small>
                                    <small><span id="exercise-next"></span></small>
                                </div>
                                <div class="container">
                                    <ul id="notes">My Notes:</ul>
                                </div>
                                <div class="container text-center">
                                    <textarea placeholder="Take notes here" class="ui-autocomplete-input" rows="10"
                                        id="note_input" style="outline: none;" autocomplete="off" role="textbox"
                                        aria-autocomplete="list" aria-haspopup="true"></textarea>
                                    <button id="submit_note" class="btn my-2" type="submit"
                                        style="background: #00152e; color: white;">Save Notes</button>
                                </div>
                            </div>
                        </div>
                        <div class="cover-bar"></div>
                    </div>

                </div>
            </div>
        </div>
        <!-- The Video. -->



    </div>
</div>
<% include partials/footer %>