<!DOCTYPE html>
<!--CEO: Henry Aberle 
	Lead Programmer January - June 2019: Peter Aguiar -->

<html lang="en">
<head>
	<title>TVSensei</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="">
    <meta name="author" content="tvsensei co.">
    
	<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light|Yanone+Kaffeesatz:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <link href="https://vjs.zencdn.net/7.6.0/video-js.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/videojs-seek-buttons/dist/videojs-seek-buttons.css">

    <!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
    <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
	
	
    <!-- <script src="external_GET.js"></script> -->
	<script src="/js/video_player.js"></script>
	<script>
			function play(){				 
			var audio = document.getElementById("audio");
			audio.play();
							   }
	</script>
    <script src="https://kit.fontawesome.com/4912714a0b.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

</head>

<body>

<!-- Top main nav bar-->

<nav class="navbar navbar-expand-sm mb-1" id="navbar">
	
		<div class="navbar-header">
			<a class="navbar-brand" id="title" href="/">TVSensei</a>
		</div>
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="/">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/lesson">Lessons</a>
			</li>
		</ul>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link" href="/signup" data-toggle="tooltip" title="Sign up"><i class="fas fa-user-plus"></i></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#" data-toggle="tooltip" title="Log in"><i class="fas fa-sign-in-alt"></i></a></li>
			<li class="nav-item">
				<a class="nav-link" href="#" data-toggle="tooltip" title="Log out"><i class="fas fa-sign-out-alt"></i></a></li>
			<li class="nav-item">
				<a class="nav-link" href="#" data-toggle="tooltip" title="User"><i class="fas fa-user"></i></a></li>
		</ul>
</nav>
<!-- end of top main navbar-->

<!--  Body -->
<div class="container-fluid">
	<div class="row">
                <div class="col-md-8 col-12">
                        <div class="row">
                            <!-- <div class="col-1">
                                    <ul class="navbar-nav flex-column justify-content-center align-items-center" id="button-li">
                                        <li class="nav-item">
                                            <button onclick="playVid();" class="btn btn-success controlbutton my-2" type="button" id="playButton" data-toggle="tooltip"><i id="playIcon" class="fas fa-play fa-xs"></i></button>
                                        </li>
                                        <li class="nav-item">
                                                <button onclick="volumeDown();" class="btn btn-secondary controlbutton my-2" data-toggle="tooltip" title="Volume Down" data-placement="right"><i class="fas fa-volume-down fa-xs"></i></button>
                                            </li>
                                        <li class="nav-item">
                                                    <button onclick="volumeUp();" class="btn btn-secondary controlbutton my-2" data-toggle="tooltip" title="Volume Up" data-placement="right"><i class="fas fa-volume-up fa-xs"></i></button>
                                            </li>
                                        <li class="nav-tiem">
                                            <button onclick="skipForwardVid();" class="btn btn-secondary controlbutton my-2" type="button" data-toggle="tooltip" title="Forward 10s" data-placement="right"><i class="fas fa-forward fa-xs"></i></button>
                                        </li>
                                        <li class="nav-tiem">
                                            <button onclick="skipBackwardVid();" class="btn btn-secondary controlbutton my-2" type="button" data-toggle="tooltip" title="Back 10s" data-placement="right"><i class="fas fa-backward fa-xs"></i></button>
                                        </li>
                                        <li class="nav-item">
                                            <button onclick="restartVid();" class="btn btn-secondary controlbutton my-2" type="button" data-toggle="tooltip" title="From Start" data-placement="right"><i class="fas fa-redo-alt fa-xs"></i></button>
                                        </li>
                                        <li class="nav-item">
                                            <button onclick="toggleRepeatVid();" class="btn btn-info controlbutton my-2" type="button" id="repeatButtonVid" data-toggle="tooltip" title="Toggle Repeat" data-placement="right"><i class="fas fa-sync fa-xs"></i></button>
                                        </li>
                            </div> -->
                            <div class="col-12">
                                <!-- <video onloadstart="initializeVid([[68,72.5],[77,86],[91,97],[138,147],[165,170]]);" id="currentVideo" class="video" style="width:100%">
                                    <source src="/media/video_Test.mp4" type="video/mp4">
                                    Unsupported browser video. 
                                </video> -->
                                <div>
                                    <video class="video-js vjs-big-play-centered effect1" id="currentVideo" onloadstart="initializeVid([[68,72.5],[77,86],[91,97],[138,147],[165,170]]);" style="margin-bottom: 5px;">
                                        <source src="/media/video_Test.mp4" type="video/mp4">
                                    </video>
                                </div>
                                <div class="card effect1" style="width:100%;min-height:20vh;"> <!-- Fixed height to avoid having the container shrink and expand often -->
                                    <div class="card-body text-center" id="subtitle">
                                            <h2 name="subTestJapanese" class="videoText" id="jpsub">Lesson 1</h2>
                                            <h3 name="subTestEnglish" class="videoText" id="ensub">Lesson 1</h3>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                </div>
        
                <div class="col-md-4 col-12">
                    <div id="accordion"> <!-- Collapsable -->
                        <!-- Contains the rest of the tvs-includes -->
                            
                                <div class="card effect1">
                                    <div class="card-header p-0" id="exercise-header">
                                            <div id="exercises" class="dropdown nav nav-tabs">
                                                    <button class="btn dropdown-toggle" style="font-size: 20px; height: 40px;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        Instruction
                                                    </button>
                                                    <div class="dropdown-menu effect1" aria-labelledby="dropdownMenuButton" role = "tablist" id="dropdown-menu"> 
                                                        <a id="instruction-dropdown" class="dropdown-item nav-link active show" data-toggle="tab" href="#tab-instruction">instruction</a>
                                                        <a id="vocabulary-dropdown" class="dropdown-item nav-link" data-toggle="tab" href="#tab-vocabulary">vocabulary</a>
                                                        <a id="speaking-dropdown" class="dropdown-item nav-link" data-toggle="tab" href="#tab-speaking">speaking</a>
                                                        <a id="grammar-dropdown" class="dropdown-item nav-link" data-toggle="tab" href="#tab-grammar">grammar</a>
                                                        <a id="quiz-dropdown" class="dropdown-item nav-link" data-toggle="tab" href="#tab-quiz">quiz</a>
                                                        <a id="notes-dropdown" class="dropdown-item nav-link" data-toggle="tab" href="#tab-notes">notes</a>
                                                    </div>
                                            </div>
                                    </div>
                                        <div class="card-body p-0 m-0 overflow-auto" id="exercise-body" style="height: 90vh">
                                                <div class="bg-success text-center message-hide py-2" id="loop-message">Video is looping. <a href='#' id="unloop">Click Here</a> to undo</div>
                                                <div class="tab-content" style="padding: 0;">
                                                        <div id="tab-instruction" class="tab-pane container text-dark active show text-center"><br>
                                                            <div class="d-flex justify-content-between mx-1">
                                                                    <small><span id="exercise-back"></span></small>
                                                                    <small onclick="checkout('vocabulary')"><span id="exercise-next">vocabulary</span> →</small>
                                                            </div>
                                                            <div class="container">
                                                                    <h3>Welcome to this lesson!</h3>
                                                                    <hr>
                                                                    <p>Bacon ipsum dolor amet doner ham shankle pig venison bresaola. Short ribs rump pork belly, ground round fatback chuck leberkas. Frankfurter swine chicken prosciutto bresaola pork chop fatback tri-tip. Pork loin beef ribs short ribs, pork chop cupim andouille alcatra chicken. Sirloin t-bone turkey strip steak kielbasa shoulder chuck. Shoulder hamburger bresaola ham, boudin meatloaf chicken t-bone filet mignon.</p>
                                                                    <ul>
                                                                        <li onclick="checkout('vocabulary')">Vocabulary</li>
                                                                        <li onclick="checkout('speaking')">Speaking</li>
                                                                        <li onclick="checkout('grammar')">Grammar</li>
                                                                        <li onclick="checkout('quiz')">Quiz</li>
                                                                        <li onclick="checkout('notes')">Notes</li>
                                                                    </ul>
                                                                    <p>Cow boudin pork turkey. Shank biltong bacon t-bone. Landjaeger bacon tenderloin, frankfurter hamburger ham hock buffalo beef salami pig meatball leberkas brisket capicola prosciutto. Pork belly shankle kevin doner.</p>
                                                            </div>
                                                        </div>
                                                        <div id="tab-vocabulary" class="tab-pane container text-dark fade">
                                                            <% include partials/vocab_test %>
                                                        </div>
                                                        <div id="tab-speaking" class="tab-pane container text-dark fade"><br>
                                                            <% include partials/speaking_test %>
                                                        </div>
                                                        <div id="tab-grammar" class="tab-pane container text-dark fade"><br>
                                                            <% include partials/grammar_test %>
                                                        </div>
                                                        <div id="tab-quiz" class="tab-pane container text-dark fade"><br>
                                                            <% include partials/quiz_test %>
                                                        </div>
                                                        <div id="tab-notes" class="tab-pane container text-dark fade"><br>
                                                            <div class="d-flex justify-content-between mx-1 mb-4">
                                                                    <small onclick="checkout('quiz')">← <span id="exercise-back">quiz</span></small>
                                                                    <small><span id="exercise-next"></span></small>
                                                            </div>
                                                            <div class="container">
                                                                <ul id="notes">My Notes:</ul>
                                                            </div>
                                                            <div class="container text-center">
                                                                <textarea placeholder="Take notes here" class="ui-autocomplete-input" rows="10" id="note_input" style="outline: none;" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true"></textarea>
                                                                <button id="submit_note" class="btn my-2" type="submit" style="background: #00152e; color: white;">Save Notes</button>
                                                            </div>
                                                        </div>
                                                </div>
                                                <div class="cover-bar"></div>
                                            </div>
                                    
                                </div>
                </div>
        </div>
        <!-- The Video. -->
                
                
            
        </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<script src='https://vjs.zencdn.net/7.6.0/video.js'></script>
<script src="https://cdn.jsdelivr.net/npm/videojs-seek-buttons/dist/videojs-seek-buttons.min.js"></script>
<script src="https://cdn.sc.gl/videojs-hotkeys/0.2/videojs.hotkeys.min.js"></script>
<script src="/js/videojs-replay.min.js"></script>
<!-- <script src="/js/videojs-ass.js"></script> -->
<script src="/js/main.js"></script>
<script src="/js/video_player.js"></script>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
</body>

</html>
<!-- END OF FILE-->