<% include partials/header %>
<% include partials/profileModal %>
<link rel="stylesheet" type="text/css" href="/stylesheets/lessonlist.css">
<!-- body -->
<div class="container text-center" onload="loadProfileModal()">
    <h1 class="display-4">Welcome to Lessons</h1>
    <p>View all lessons we have and learn language!</p>
</div>
<hr>
<div class="container" id="lesson-list">
    <div class="col">
        <a href="/lesson/1"><img
                src="https://images.unsplash.com/photo-1514190051997-0f6f39ca5cde?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"
                alt=""></a>
        <a href="/lesson/1">
            <h5 class="my-1">Visit Bayside Place in Hakata with Rina</h5>
        </a>
        <p>Learn basic vocab and grammar while enjoying authentic japanese food and culture.</p>
    </div>
    <div class="col">
        <a href="#"><img
                src="https://images.unsplash.com/photo-1566250599398-cfbf6f411b52?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"
                alt=""></a>
        <a href="#">
            <h5 class="my-1">Visit Bayside Place in Hakata with Rina</h5>
        </a>
        <p>Learn basic vocab and grammar while enjoying authentic japanese food and culture.</p>
    </div>
    <div class="col">
        <a href="#"><img
                src="https://images.unsplash.com/photo-1550728193-be87c574be86?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"
                alt=""></a>
        <a href="#">
            <h5 class="my-1">Visit Bayside Place in Hakata with Rina</h5>
        </a>
        <p>Learn basic vocab and grammar while enjoying authentic japanese food and culture.</p>
    </div>
    <div class="col">
        <a href="#"><img
                src="https://images.unsplash.com/photo-1565984556409-b0d4946ce2d4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"
                alt=""></a>
        <a href="#">
            <h5 class="my-1">Visit Bayside Place in Hakata with Rina</h5>
        </a>
        <p>Learn basic vocab and grammar while enjoying authentic japanese food and culture.</p>
    </div>
    <div class="col">
        <a href="#"><img
                src="https://images.unsplash.com/photo-1565996452417-4198393f76e1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"
                alt=""></a>
        <a href="#">
            <h5 class="my-1">Visit Bayside Place in Hakata with Rina</h5>
        </a>
        <p>Learn basic vocab and grammar while enjoying authentic japanese food and culture.</p>
    </div>
</div>
<% include partials/footer %>
<script>
    loadProfileModal();
</script>

