<% include partials/header %>

<h1>Hello, <%= user.firstname %> <%= user.lastname %></h1>

<p>On <%= user.registered %>, you met TVSensei. You were <%= user.age %> that year, an age that you start enjoying English learning.  </p>

<% include partials/footer %>