h1 {
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
}

section p {
  font-family: 'Roboto Mono', monospace;
}

.cover {
  z-index: 0;
  background-color: black;
  position: absolute;
  width: 100vw;
  height: 90vh;
}

.background {
  position: absolute;
  z-index: 1;
  height: 90vh;
  background-image: url(https://trello-attachments.s3.amazonaws.com/5d141ce010119b0c8d02ddd1/5d657819665097410f3916a0/4733c43f588904510c0b8f1622b38b40/tv-3774381_1920.jpg);
  background-size: cover;
  background-position: 60% 40%;
  width: 100vw;
  opacity: 0.7;
}

#landing-header {
  z-index: 2;
  position: relative;
  text-align: center;
  padding-top: 40vh;
  padding-bottom: 30vh;
  height: 90vh;
  background: transparent;
}

#landing-header h1 {
  color: #f0f0f0;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

#landing-header p {
  color: #f0f0f0;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
}

/* .slideshow {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite; 
}

.slideshow li:nth-child(1) { 
  background-image: url(https://images.unsplash.com/photo-1528164344705-47542687000d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1538&q=80) 
}
.slideshow li:nth-child(2) { 
  background-image: url(https://images.unsplash.com/photo-1493976040374-85c8e12f0c0e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(https://images.unsplash.com/photo-1529486837607-1ebfa5ec00cf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=753&q=80);
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(https://images.unsplash.com/photo-1555529535-5323b3cc7b4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(http://i.imgur.com/TVGe0Ef.jpg);
  animation-delay: 40s; 
}

@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

.no-cssanimations .slideshow li {
opacity: 1;
} */

#btn {
  outline: none;
  border: none;
  cursor: pointer;
  display: block;
  position: relative;
  width: 21%;
  background: #000a17;
  padding: 10px 45px;
  color: white;
  font-size: 16px;
  font-weight: 300px;
  margin: 0 auto;
  letter-spacing: 2px;
  border-radius: 20px;
  box-shadow: 0 6px #020017;
  text-align: center;
}

#smallbtn {
  outline: none;
  border: none;
  cursor: pointer;
  display: block;
  position: relative;
  width: 21%;
  background: #000a17;
  padding: 10px 45px;
  color: white;
  font-size: 16px;
  font-weight: 300px;
  margin: 0 auto;
  letter-spacing: 2px;
  border-radius: 20px;
  box-shadow: 0 6px #020017;
  text-align: center;
}

#btn:hover {
  box-shadow: 0 4px #020017;
  top: 2px;
}

#btn:active {
  box-shadow: none;
  top: 6px;
}

#smallbtn:hover {
  box-shadow: 0 4px #020017;
  top: 2px;
}

#smallbtn:active {
  box-shadow: none;
  top: 6px;
}

#navbar {
  background-color: #000a17;
}

#title {
  color: white;
  font-weight: bold;
}

#title:hover {
  color: #b4d5ff;
}

.nav-link {
  color: white;
}

span.nav-link {
  cursor: pointer;
}

.nav-link:hover {
  color: #b4d5ff;
}

.hide {
  display: none;
}

#landing-header p {
  cursor: pointer;
  padding: 0;
}

#landing-header a:hover {
  text-decoration: none;
}

#landing-header p:hover {
  text-decoration: underline;
}

section {
  background: #f0f0f0;
}

section:not(#landing-header) {
  padding: 100px;
  width: 100%;
}

section:not(#landing-header):nth-of-type(odd) {
  background-color: #000a17;
  color: #f0f0f0;
  text-align: start;
}

.sectionPic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  height: auto;
  width: 300px;

}

/* footer section */
footer {
  background-color: black;
  color: #fff;
  padding: 20px 0 0 0;
}

footer ul {
  display: flex;
}

footer ul li {
  margin-left: 16px;
}

footer p {
  text-transform: uppercase;
  font-size: 14px;
  opacity: 0.6;
  align-self: center;
}

footer a {
  text-decoration: none;
  opacity: 0.75;
  color: #fff;
}

footer ul {
  list-style: none;
}

@media (max-width: 1100px) {
  footer {
    flex-direction: column;
  }

  footer p {
    text-align: center;
    margin-bottom: 20px;
  }

  footer ul li {
    margin: 0 8px;
  }


}

/* contact us */
.section2 {
  width: 1200px;
  margin: 25px auto;
}

.section2 .col2 {
  width: 48.71%;
}

.section2 .col2.first {
  float: left;
}

.section2 .col2.last {
  float: right;
}

.section2 .col2.column2 {
  padding: 0 30px;
}

.section2 span.collig {
  color: #a2a2a2;
  margin-right: 10px;
  display: inline-block;
}

.section2 .sec2addr {
  display: block;
  line-height: 26px;
}

.section2 .sec2addr p:first-child {
  margin-bottom: 10px;
}

.section2 .sec2contactform input[type="text"],
.section2 .sec2contactform input[type="email"],
.section2 .sec2contactform textarea {
  padding: 18px;
  border: 0;
  background: #EDEDED;
  margin: 7px 0;
}

.section2 .sec2contactform textarea {
  width: 100%;
  display: block;
  color: #666;
  resize: none;
}

.section2 .sec2contactform input[type="submit"] {
  padding: 15px 40px;
  color: #fff;
  border: 0;
  background: #A44DD8;
  font-size: 16px;
  text-transform: uppercase;
  margin: 7px 0;
  cursor: pointer;
}

.section2 .sec2contactform h3 {
  font-weight: normal;
  margin: 20px 0;
  margin-top: 30px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 19px;
  color: #A44DD8;
}

.form-group .btn {
  background: #000a17;
  color: white;
}

.form-group .btn:hover {
  color: #b4d5ff;
}

.forgot {
  margin-left: 2px;
}

