* {
    margin: 0;
    padding: 0;
}

hr{
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(240, 240, 240), rgb(59, 68, 75), rgba(240, 240, 240));
}

.effect1{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

  #navbar {
    background-color: #000a17;
  }

  #title {
    color: white;
    font-weight: bold;
  }

  #title:hover {
    color: #b4d5ff;
  }

  .nav-link {
    color: white;
  }

  span.nav-link {
    cursor: pointer;
  }

  .nav-link:hover {
    color: #b4d5ff;
  }

  #lesson-list {
    display: flex;
    align-items: flex-start;
  }

  #lesson-list .col {
    display: inline-block;
    width: 16.66667%;
    margin: 1.4%;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
  }

  a {
    color: #000a17;
    text-decoration: none;
    }

a:hover 
{
     color:#00A0C6; 
     text-decoration:none; 
     cursor:pointer;  
}

h5 {
    font-size: 1rem;
}

p {
    font-size: 0.8rem;
}

h5, p {
    line-height: 1rem;
}

div.item {
  position: relative;
  background-color: #34495e;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

div.item i {
  color: #34495e;
}

div.item:hover img {
  opacity: 0.3;
  filter: grayscale(100%);
}

div.item * {
  transition: all .5s ease-in-out;
}

div.item:hover i {
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

div.item i {
  transform: translate(-50%, -50%) scale(0);
}

div.item i {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 20px;
  color: #f0f0f0;
}
