* {
    margin: 0;
    padding: 0;
}

hr{
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(240, 240, 240), rgb(59, 68, 75), rgba(240, 240, 240));
}

.effect1{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

  #navbar {
    background-color: #000a17;
  }

  #title {
    color: white;
    font-weight: bold;
  }

  #title:hover {
    color: #b4d5ff;
  }

  .nav-link {
    color: white;
  }

  span.nav-link {
    cursor: pointer;
  }

  .nav-link:hover {
    color: #b4d5ff;
  }

  #lesson-list .col {
    display: inline-block;
    width: 16.66667%;
    margin: 1.4%;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
  }

  a {
    color: #000a17;
    text-decoration: none;
    }

a:hover 
{
     color:#00A0C6; 
     text-decoration:none; 
     cursor:pointer;  
}

h5 {
    font-size: 1rem;
}

p {
    font-size: 0.8rem;
}

h5, p {
    line-height: 1rem;
}
