
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.col-md-4.col-12, .col-md-8.col-12 {
  padding-left: 5px;
  padding-right: 0;
  margin: 0;
  padding-top: 0;
}


body {
  background-image: url("https://images.pexels.com/photos/19670/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
}

.dropdown-item.nav-link.active.show {
    background: #b4d5ff;
    color: #020017;
}

#exercises {
    border-bottom: 0px;
 }
 
 #controlBar {
  border-radius: 5px;
}

.video:hover #controlBar {
  opacity: 0;
  transition: all .5s;
}
 
 .video{
   border-radius: 5px; 
   overflow: hidden; 
 }
 
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
 
 
  h3 {
    text-align: center;
    font-size: 1.4rem;
    margin: 0;
  }

  h5 {
    text-align: center;
  }

  hr{
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(240, 240, 240), rgb(59, 68, 75), rgba(240, 240, 240));
  }

  hr.style-three {
  border: 0;
  border-bottom: 1px dashed #ccc;
  background: #999;
}
 


  #progress-bar {
    width: 100%;
  }

  li .btn.controlbutton {
    display: flex;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    position: relative;
  }

  .btn i {
    top: 50%;
    left: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    display: block;
    position: relative;
    line-height: 20px;
  }

  
  li .btn.controlbutton:hover {
    border-radius: 20%;
  }
  
  .videoText {
    font-family: 'Roboto Mono', monospace;
  }
  
  .effect1{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

  #navbar {
    background-color: #000a17;
  }

  #title {
    color: white;
    font-weight: bold;
  }

  #title:hover {
    color: #b4d5ff;
  }

  .nav-link {
    color: white;
  }

  .nav-link:hover {
    color: #b4d5ff;
  }

  .dropdown-item.nav-link:hover {
    color: #020017;
  }

  .dropdown-item.nav-link {
    text-transform: capitalize;
  }

  #exercise-back, #exercise-next {
    cursor: pointer;
  }

  #exercise-back:hover, #exercise-next:hover {
    text-decoration: underline;
  }

  #subtitle {
    background: #f0f0f0;
    border-radius: 5px;
    padding-bottom: 5px;
  }
  
  #dropdownMenuButton {
    width: 100%;
    color: white;
    text-transform: capitalize;
  }
  .btn:focus, .btn:active:focus, .btn.active:focus{
    outline:none;
    box-shadow:none;
  }

  #exercise-header {
    background: #000a17;
    padding: 0;
  }

  #dropdown-menu {
    background: #00152e;
    position: relative;
    right: 0px;
    transform: translateX(5px);
  }

  #exercise-body {
    background: #f0f0f0;
    color: #000a17;
  }

  .card {
    border: none;
    outline: none;
  }

  #button-li {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
    width: 100%; margin: 0;  
    padding: 20px; 
    background-color: #000a17;
    border-radius: 5px;
  }

  .vjs-ass {
    position: absolute;
    top: 0;
  
    width: 100%;
    height: 100%;
  
    pointer-events: none;
  }

  .btn.btn-link.speak-task:focus {
    color: red;
  }

  .message-show {
    height: 100%;
  }

  .message-hide {
    height: 0;
    display: none;
    transition: all 1s;
  }

  #loop-message {
    color: #F0FFF0;
    transition: all 1s;
  }

  #unloop {
    color: white;
    text-transform: uppercase;
    cursor: pointer;
  }

  .vjs-paused .vjs-big-play-button,
  .vjs-paused.vjs-has-started .vjs-big-play-button {
      display: block;
  }

  .video-js .vjs-big-play-button{
    font-size: 2.5em;
    line-height: 2.3em;
    height: 2.5em;
    width: 2.5em;
    -webkit-border-radius: 2.5em;
    -moz-border-radius: 2.5em;
    border-radius: 2.5em;
    background-color: #73859f;
    background-color: rgba(115,133,159,.5);
    border-width: 0.15em;
    margin-top: -1.25em;
    margin-left: -1.75em;
}

.vjs-big-play-button .vjs-icon-placeholder {
  font-size: 1.63em;
}

.vjs-loading-spinner {
  font-size: 2.5em;
  width: 2em;
  height: 2em;
  border-radius: 1em;
  margin-top: -1em;
  margin-left: -1.5em;
}

#downloadButton {
  margin-top: 7px;
}

#downloadButton img {
  height: 16px;
}

.table.table-striped thead {
  background: #000a17;
  margin: 0;
}

.table.table-striped tbody tr:nth-child(odd) {
  background: #001531;
  margin: 0;
}

.table.table-striped tbody tr:nth-child(even) {
  background: #000a17;
  margin: 0;
}

.table.table-striped tbody tr:hover {
  color: #b4d5ff;
}

table {
  border-spacing: 0;
}

textarea {
  width: 100%;
  height: 100%;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
  border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
  border-image: none;
  border-radius: 6px 6px 6px 6px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #555555;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  /* padding: 5px 8px; */
  transition: background-color 0.2s ease 0s;
}


textarea:focus {
    background: none repeat scroll 0 0 #FFFFFF;
    outline-width: 0;
}

.note-record {
    cursor: pointer;
}

.note-record:hover {
    text-decoration: underline;
}

#tab-instruction li {
  color: #00152e;
  cursor: pointer;
}

#tab-instruction li:hover {
  color: #73859f;
  text-decoration: underline;
}