
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.col-1 {
  padding: 5px
}

.col-11 {
  padding: 0;
}

body {
  background-color: #efe2ba;
}

.dropdown-item.nav-link.active.show {
    background: #E3AFBC;
    color: #5D001E;
}

.dropdown-item.nav-link.focus {
  background: #E3AFBC;
  color: #5D001E;
}

#exercises {
    border-bottom: 0px;
 }
 
 #controlBar {
  border-radius: 5px;
}

.video:hover #controlBar {
  opacity: 0;
  transition: all .5s;
}
 
 .video{
   border-radius: 5px; 
   overflow: hidden; 
 }
 
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
 
 
  h3 {
    text-align: center;
  }

  hr.style-two {
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255), rgba(255, 255, 255, 0));
}

  hr.style-three {
  border: 0;
  border-bottom: 1px dashed #ccc;
  background: #999;
}
 


  #progress-bar {
    width: 100%;
  }

  li .btn.controlbutton {
    display: flex;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    position: relative;
  }

  .btn i {
    top: 50%;
    left: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    display: block;
    position: relative;
    line-height: 20px;
  }

  
  li .btn.controlbutton:hover {
    border-radius: 20%;
  }
  
  #videoText {
    font-family: 'Roboto Mono', monospace;
  }
  
  .effect1{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

  #navbar {
    background-color: #000a17;
  }

  #title {
    color: #efe2ba;
    font-weight: bold;
  }

  #title:hover {
    color: #c5cbe3;
  }

  .nav-link {
    color: #efe2ba;
  }

  .nav-link:hover {
    color: #c5cbe3;
  }

  #subtitle {
    background: white;
  }
  
  #dropdownMenuButton {
    width: 100%;
    color: #efe2ba;
  }
  .btn:focus, .btn:active:focus, .btn.active:focus{
    outline:none;
    box-shadow:none;
  }

  #exercise-header {
    background: #4056a1;
  }

  #dropdown-menu {
    background: #f13c20;
    position: relative;
    right: 0px;
  }

  #exercise-body {
    background: #c5cbe3;
    color: #E3E2DF;
  }

  .card {
    border: none;
    outline: none;
  }

  #button-li {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
    width: 100%; margin: 0;  
    padding: 20px; 
    background-color: #000a17;
    border-radius: 5px;
  }
