body {
  background-color: #E3AFBC;
}

.dropdown-item.nav-link.active.show {
    background: #E3AFBC;
    color: #5D001E;
}

.dropdown-item.nav-link.focus {
  background: #E3AFBC;
  color: #5D001E;
}

#exercises {
    border-bottom: 0px;
 }
 
 #controlBar {
  border-radius: 5px;
}
 
 .video{
   border-radius: 5px; 
   overflow: hidden; 
 }
 
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
 
 
  h3 {
    text-align: center;
  }

  hr.style-two {
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255), rgba(255, 255, 255, 0));
}

  hr.style-three {
  border: 0;
  border-bottom: 1px dashed #ccc;
  background: #999;
}
 


  #progress-bar {
    width: 100%;
  }

  li .btn.controlbutton {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
  }
  
  li .btn.controlbutton:hover {
    border-radius: 20%;
  }
  
  #videoText {
    font-family: 'Roboto Mono', monospace;
  }
  
  .effect1{
    -webkit-box-shadow: 0 10px 6px -6px #000;
       -moz-box-shadow: 0 10px 6px -6px #000;
            box-shadow: 0 10px 6px -6px #000;
  }

  #navbar {
    background-color: #9A1750;
  }

  #title {
    color: #E3E2DF;
    font-weight: bold;
  }

  .nav-link {
    color: #E3E2DF;
  }

  .nav-link:hover {
    color: #E3AFBC;
  }

  #subtitle {
    background: #E3E2DF;
  }
  
  #dropdownMenuButton {
    width: 100%;
    color: #E3E2DF;
  }
  .btn:focus, .btn:active:focus, .btn.active:focus{
    outline:none;
    box-shadow:none;
  }

  #exercise-header {
    background: #9A1750;
  }

  #dropdown-menu {
    background: #5D001E;;
    position: relative;
    right: 0px;
  }

  #exercise-body {
    background: #EE4C7C;
    color: #E3E2DF;
  }

  .card {
    border: none;
    outline: none;
  }